@charset "utf-8";
/* ========== 重置 ==========  */
.screen, .screen span, .screen h1, .screen h2, .screen h3, .screen h4, .screen h5, .screen h6, .screen hr, .screen b, .screen i, .screen em, .screen strong, .screen big, .screen small, .screen sup, .screen sub, .screen bdo, .screen pre, .screen code, .screen tt, .screen kbd, .screen var, .screen dfn, .screen samp, .screen acronym, .screen abbr, .screen address, .screen blockquote, .screen q, .screen cite, .screen ins, .screen del, .screen label, .screen p, .screen a, .screen ul, .screen ol, .screen li, .screen dl, .screen dt, .screen dd, .screen img, .screen fieldset, .screen form, .screen label, .screen legend{
	margin:0px;
	padding:0px;
	border:0px;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
.screen div {
	padding:0px;
	border:0px;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	overflow:hidden;
}
.screen blockquote, .screen q {
	quotes: none;
}
.screen blockquote:before, .screen blockquote:after, .screen q:before, .screen q:after {
	content: '';
	content: none;
}
.screen body, .screen div, .screen caption, .screen th, .screen td, .screen form, .screen input, .screen select, .screen textarea {
	font-size:small;
	color: #202020;
}
.screen h1 {
	font-size:large;
}
.screen h2, .screen h3, .screen h4, .screen h5, .screen h6 {
	font-size:small;
}
.screen table {
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.screen ul {
	list-style-type:none;
}
.screen ol li {
	margin-left:22px;
	list-style-type: decimal;
}
.screen em {
	font-style:normal;
	color:#F00;
	vertical-align:baseline;
	font-weight:normal;
}
.screen strong {
	color:#F00;
	vertical-align:baseline;
}
.screen small {
	font-size:x-small;
	font-style:normal;
	color:#006666;
	margin-left:2px;
}
.screen sup {
	font-size:x-small;
	font-style:normal;
	color:#006666;
	margin-left:2px;
}
.screen sub {
	font-size:x-small;
	font-style:normal;
	color:#006666;
	margin-left:2px;
}
.screen pre {
	font-size:small;
}
.screen code {
	font-size:small;
	border:1px solid #5B86B9;
	background-color:#FFFFF8;
	display:block;
	overflow:auto;
}
.screen abbr {
	color:#099;
}
.screen address {
	display:inline;
	font-size:small;
	font-style:normal;
	color:#090;
}
.screen blockquote {
	color:#66C;
}
.screen q {
	display:inline;
	font-size:small;
	font-style:normal;
	color:#F60;
}
.screen cite {
	display:inline;
	font-size:small;
	font-style:normal;
	color:#A5B2BD;
}
.screen cite a {
	display:inline;
	font-size:small;
	font-style:normal;
	color:#A5B2BD;
	text-decoration:none;
}
.screen label {
	white-space:nowrap;
}
.screen fieldset {
	border:1px solid #68A54C;
}
.screen legend {
	color:#68A54C;
	padding:5px;
	margin:10px;
}
/* ========== 字体大小 ========== */
.screen .f10px {
	font-size:10px;
}
.screen .f11px {
	font-size:11px;
}
.screen .f12px {
	font-size:12px;
}
.screen .f13px {
	font-size:13px;
}
.screen .f14px {
	font-size:14px;
}
.screen .f16px {
	font-size:16px;
}
.screen .f18px {
	font-size:18px;
}
.screen .f24px {
	font-size:24px;
}
/* ========== 行高 ========== */
.screen .lh160 {
	line-height:160%;
}
.screen .lh180 {
	line-height:180%
}
.screen .lh200 {
	line-height:200%;
}
/* ========== 边界 ========== */
.screen .margin_1 {
	margin:1px;
}
.screen .margin_lr_1 {
	margin-left:1px;
	margin-right:1px;
}
.screen .margin_tb_1 {
	margin-top:1px;
	margin-bottom:1px;
}
.screen .margin_top_1 {
	margin-top:1px;
}
.screen .margin_right_1 {
	margin-right:1px;
}
.screen .margin_bottom_1 {
	margin-bottom:1px;
}
.screen .margin_left_1 {
	margin-left:1px;
}
.screen .margin_2 {
	margin:2px;
}
.screen .margin_lr_2 {
	margin-left:2px;
	margin-right:2px;
}
.screen .margin_tb_2 {
	margin-top:2px;
	margin-bottom:2px;
}
.screen .margin_top_2 {
	margin-top:2px;
}
.screen .margin_right_2 {
	margin-right:2px;
}
.screen .margin_bottom_2 {
	margin-bottom:2px;
}
.screen .margin_left_2 {
	margin-left:2px;
}
.screen .margin_3 {
	margin:3px;
}
.screen .margin_lr_3 {
	margin-left:3px;
	margin-right:3px;
}
.screen .margin_tb_3 {
	margin-top:3px;
	margin-bottom:3px;
}
.screen .margin_top_3 {
	margin-top:3px;
}
.screen .margin_right_3 {
	margin-right:3px;
}
.screen .margin_bottom_3 {
	margin-bottom:3px;
}
.screen .margin_left_3 {
	margin-left:3px;
}
.screen .margin_4 {
	margin:4px;
}
.screen .margin_lr_4 {
	margin-left:4px;
	margin-right:4px;
}
.screen .margin_tb_4 {
	margin-top:4px;
	margin-bottom:4px;
}
.screen .margin_top_4 {
	margin-top:4px;
}
.screen .margin_right_4 {
	margin-right:4px;
}
.screen .margin_bottom_4 {
	margin-bottom:4px;
}
.screen .margin_left_4 {
	margin-left:4px;
}
.screen .margin_5 {
	margin:5px;
}
.screen .margin_lr_5 {
	margin-left:5px;
	margin-right:5px;
}
.screen .margin_tb_5 {
	margin-top:5px;
	margin-bottom:5px;
}
.screen .margin_top_5 {
	margin-top:5px;
}
.screen .margin_right_5 {
	margin-right:5px;
}
.screen .margin_bottom_5 {
	margin-bottom:5px;
}
.screen .margin_left_5 {
	margin-left:5px;
}
.screen .margin_10 {
	margin:10px;
}
.screen .margin_lr_10 {
	margin-left:10px;
	margin-right:10px;
}
.screen .margin_tb_10 {
	margin-top:10px;
	margin-bottom:10px;
}
.screen .margin_top_10 {
	margin-top:10px;
}
.screen .margin_right_10 {
	margin-right:10px;
}
.screen .margin_bottom_10 {
	margin-bottom:10px;
}
.screen .margin_left_10 {
	margin-left:10px;
}
.screen .margin_20 {
	margin:20px;
}
.screen .margin_lr_20 {
	margin-left:20px;
	margin-right:20px;
}
.screen .margin_tb_20 {
	margin-top:20px;
	margin-bottom:20px;
}
.screen .margin_top_20 {
	margin-top:20px;
}
.screen .margin_right_20 {
	margin-right:20px;
}
.screen .margin_bottom_20 {
	margin-bottom:20px;
}
.screen .margin_left_20 {
	margin-left:20px;
}
.screen .margin_100 {
	margin:100px;
}
.screen .margin_top_100 {
	margin-top:100px;
}
.screen .margin_right_100 {
	margin-right:100px;
}
.screen .margin_bottom_100 {
	margin-bottom:100px;
}
.screen .margin_left_100 {
	margin-left:100px;
}
/* ========== 填充 ========== */
.screen .padding_1 {
	padding:1px;
}
.screen .padding_lr_1 {
	padding-left:1px;
	padding-right:1px;
}
.screen .padding_tb_1 {
	padding-top:1px;
	padding-bottom:1px;
}
.screen .padding_top_1 {
	padding-top:1px;
}
.screen .padding_right_1 {
	padding-right:1px;
}
.screen .padding_bottom_1 {
	padding-bottom:1px;
}
.screen .padding_left_1 {
	padding-left:1px;
}
.screen .padding_2 {
	padding:2px;
}
.screen .padding_lr_2 {
	padding-left:2px;
	padding-right:2px;
}
.screen .padding_tb_2 {
	padding-top:2px;
	padding-bottom:2px;
}
.screen .padding_top_2 {
	padding-top:2px;
}
.screen .padding_right_2 {
	padding-right:2px;
}
.screen .padding_bottom_2 {
	padding-bottom:2px;
}
.screen .padding_left_2 {
	padding-left:2px;
}
.screen .padding_3 {
	padding:3px;
}
.screen .padding_lr_3 {
	padding-left:3px;
	padding-right:3px;
}
.screen .padding_tb_3 {
	padding-top:3px;
	padding-bottom:3px;
}
.screen .padding_top_3 {
	padding-top:3px;
}
.screen .padding_right_3 {
	padding-right:3px;
}
.screen .padding_bottom_3 {
	padding-bottom:3px;
}
.screen .padding_left_3 {
	padding-left:3px;
}
.screen .padding_4 {
	padding:4px;
}
.screen .padding_lr_4 {
	padding-left:4px;
	padding-right:4px;
}
.screen .padding_tb_4 {
	padding-top:4px;
	padding-bottom:4px;
}
.screen .padding_top_4 {
	padding-top:4px;
}
.screen .padding_right_4 {
	padding-right:4px;
}
.screen .padding_bottom_4 {
	padding-bottom:4px;
}
.screen .padding_left_4 {
	padding-left:4px;
}
.screen .padding_5 {
	padding:5px;
}
.screen .padding_lr_5 {
	padding-left:5px;
	padding-right:5px;
}
.screen .padding_tb_5 {
	padding-top:5px;
	padding-bottom:5px;
}
.screen .padding_top_5 {
	padding-top:5px;
}
.screen .padding_right_5 {
	padding-right:5px;
}
.screen .padding_bottom_5 {
	padding-bottom:5px;
}
.screen .padding_left_5 {
	padding-left:5px;
}
.screen .padding_10 {
	padding:10px;
}
.screen .padding_lr_10 {
	padding-left:10px;
	padding-right:10px;
}
.screen .padding_tb_10 {
	padding-top:10px;
	padding-bottom:10px;
}
.screen .padding_top_10 {
	padding-top:10px;
}
.screen .padding_right_10 {
	padding-right:10px;
}
.screen .padding_bottom_10 {
	padding-bottom:10px;
}
.screen .padding_left_10 {
	padding-left:10px;
}
.screen .padding_20 {
	padding:20px;
}
.screen .padding_lr_20 {
	padding-left:20px;
	padding-right:20px;
}
.screen .padding_tb_20 {
	padding-top:20px;
	padding-bottom:20px;
}
.screen .padding_top_20 {
	padding-top:20px;
}
.screen .padding_right_20 {
	padding-right:20px;
}
.screen .padding_bottom_20 {
	padding-bottom:20px;
}
.screen .padding_left_20 {
	padding-left:20px;
}
/* 列 */
.screen .li_2Row, .screen .li_3Row, .screen .li_4Row {
	_height:100%;
}
.screen .li_2Row li {
	display:inline-block;
	float:left;
	width:49.99%;
}
.screen .li_3Row li {
	display:inline-block;
	float:left;
	width:33.33%;
}
.screen .li_4Row li {
	display:inline-block;
	float:left;
	width:24.99%;
}
.screen .li_5Row li {
	display:inline-block;
	float:left;
	width:19.99%;
}
.screen .li_6Row li {
	display:inline-block;
	float:left;
	width:16.66%;
}
.screen .li_7Row li {
	display:inline-block;
	float:left;
	width:14.28%;
}
.screen .li_8Row li {
	display:inline-block;
	float:left;
	width:12.49%;
}
.screen .li_9Row li {
	display:inline-block;
	float:left;
	width:11.11%;
}
.screen .li_10Row li {
	display:inline-block;
	float:left;
	width:9.99%;
}
.screen .a_2Row, .screen .a_3Row, .screen .a_4Row {
	_height:100%;
}
.screen .a_2Row a {
	display:inline-block;
	float:left;
	width:49.99%;
}
.screen .a_3Row a {
	display:inline-block;
	float:left;
	width:33.33%;
}
.screen .a_4Row a {
	display:inline-block;
	float:left;
	width:24.99%;
}
/* 最小高度 */
.screen .h100 {
	min-height:100px;
	height:auto!important;
	height:100px;
}
.screen .h150 {
	min-height:150px;
	height:auto!important;
	height:150px;
}
.screen .h200 {
	min-height:200px;
	height:auto!important;
	height:200px;
}
.screen .h250 {
	min-height:250px;
	height:auto!important;
	height:250px;
}
.screen .h300 {
	min-height:300px;
	height:auto!important;
	height:300px;
}
.screen .h350 {
	min-height:350px;
	height:auto!important;
	height:350px;
}
.screen .h400 {
	min-height:400px;
	height:auto!important;
	height:400px;
}
.screen .h450 {
	min-height:450px;
	height:auto!important;
	height:450px;
}
.screen .h500 {
	min-height:500px;
	height:auto!important;
	height:500px;
}
/* 比例 */
.screen .W1, .screen .W2, .screen .W3, .screen .W4, .screen .W5, .screen .W6, .screen .W7, .screen .W8, .screen .W9, .screen .W10, .screen .W11, .screen .W12, .screen .W13, .screen .W14, .screen .W15, .screen .W16, .screen .W17, .screen .W18, .screen .W19, .screen .W20, .screen .W21, .screen .W22, .screen .W23, .screen .W24, .screen .W25, .screen .W26, .screen .W27, .screen .W28, .screen .W29, .screen .W30, .screen .W31, .screen .W32, .screen .W33, .screen .W34, .screen .W35, .screen .W36, .screen .W37, .screen .W38, .screen .W39, .screen .W40, .screen .W41, .screen .W42, .screen .W43, .screen .W44, .screen .W45, .screen .W46, .screen .W47, .screen .W48, .screen .W49, .screen .W50, .screen .W51, .screen .W52, .screen .W53, .screen .W54, .screen .W55, .screen .W56, .screen .W57, .screen .W58, .screen .W59, .screen .W60, .screen .W61, .screen .W62, .screen .W63, .screen .W64, .screen .W65, .screen .W66, .screen .W67, .screen .W68, .screen .W69, .screen .W70, .screen .W71, .screen .W72, .screen .W73, .screen .W74, .screen .W75, .screen .W76, .screen .W77, .screen .W78, .screen .W79, .screen .W80, .screen .W81, .screen .W82, .screen .W83, .screen .W84, .screen .W85, .screen .W86, .screen .W87, .screen .W88, .screen .W89, .screen .W90, .screen .W91, .screen .W92, .screen .W93, .screen .W94, .screen .W95, .screen .W96, .screen .W97, .screen .W98, .screen .W99 {
	display:inline-block;
	float:left;
}
.screen .W1 {
	width:0.99%;
}
.screen .W2 {
	width:1.99%;
}
.screen .W3 {
	width:2.99%;
}
.screen .W4 {
	width:3.99%;
}
.screen .W5 {
	width:4.99%;
}
.screen .W6 {
	width:5.99%;
}
.screen .W7 {
	width:6.99%;
}
.screen .W8 {
	width:7.99%;
}
.screen .W9 {
	width:8.99%;
}
.screen .W10 {
	width:9.99%;
}
.screen .W11 {
	width:10.99%;
}
.screen .W12 {
	width:11.99%;
}
.screen .W13 {
	width:12.99%;
}
.screen .W14 {
	width:13.99%;
}
.screen .W15 {
	width:14.99%;
}
.screen .W16 {
	width:15.99%;
}
.screen .W17 {
	width:16.99%;
}
.screen .W18 {
	width:17.99%;
}
.screen .W19 {
	width:18.99%;
}
.screen .W20 {
	width:19.99%;
}
.screen .W21 {
	width:20.99%;
}
.screen .W22 {
	width:21.99%;
}
.screen .W23 {
	width:22.99%;
}
.screen .W24 {
	width:23.99%;
}
.screen .W25 {
	width:24.99%;
}
.screen .W26 {
	width:25.99%;
}
.screen .W27 {
	width:26.99%;
}
.screen .W28 {
	width:27.99%;
}
.screen .W29 {
	width:28.99%;
}
.screen .W30 {
	width:29.99%;
}
.screen .W31 {
	width:30.99%;
}
.screen .W32 {
	width:31.99%;
}
.screen .W33 {
	width:32.99%;
}
.screen .W34 {
	width:33.99%;
}
.screen .W35 {
	width:34.99%;
}
.screen .W36 {
	width:35.99%;
}
.screen .W37 {
	width:36.99%;
}
.screen .W38 {
	width:37.99%;
}
.screen .W39 {
	width:38.99%;
}
.screen .W40 {
	width:39.99%;
}
.screen .W41 {
	width:40.99%;
}
.screen .W42 {
	width:41.99%;
}
.screen .W43 {
	width:42.99%;
}
.screen .W44 {
	width:43.99%;
}
.screen .W45 {
	width:44.99%;
}
.screen .W46 {
	width:45.99%;
}
.screen .W47 {
	width:46.99%;
}
.screen .W48 {
	width:47.99%;
}
.screen .W49 {
	width:48.99%;
}
.screen .W50 {
	width:49.99%;
}
.screen .W51 {
	width:50.99%;
}
.screen .W52 {
	width:51.99%;
}
.screen .W53 {
	width:52.99%;
}
.screen .W54 {
	width:53.99%;
}
.screen .W55 {
	width:54.99%;
}
.screen .W56 {
	width:55.99%;
}
.screen .W57 {
	width:56.99%;
}
.screen .W58 {
	width:57.99%;
}
.screen .W59 {
	width:58.99%;
}
.screen .W60 {
	width:59.99%;
}
.screen .W61 {
	width:60.99%;
}
.screen .W62 {
	width:61.99%;
}
.screen .W63 {
	width:62.99%;
}
.screen .W64 {
	width:63.99%;
}
.screen .W65 {
	width:64.99%;
}
.screen .W66 {
	width:65.99%;
}
.screen .W67 {
	width:66.99%;
}
.screen .W68 {
	width:67.99%;
}
.screen .W69 {
	width:68.99%;
}
.screen .W70 {
	width:69.99%;
}
.screen .W71 {
	width:70.99%;
}
.screen .W72 {
	width:71.99%;
}
.screen .W73 {
	width:72.99%;
}
.screen .W74 {
	width:73.99%;
}
.screen .W75 {
	width:74.99%;
}
.screen .W76 {
	width:75.99%;
}
.screen .W77 {
	width:76.99%;
}
.screen .W78 {
	width:77.99%;
}
.screen .W79 {
	width:78.99%;
}
.screen .W80 {
	width:79.99%;
}
.screen .W81 {
	width:80.99%;
}
.screen .W82 {
	width:81.99%;
}
.screen .W83 {
	width:82.99%;
}
.screen .W84 {
	width:83.99%;
}
.screen .W85 {
	width:84.99%;
}
.screen .W86 {
	width:85.99%;
}
.screen .W87 {
	width:86.99%;
}
.screen .W88 {
	width:87.99%;
}
.screen .W89 {
	width:88.99%;
}
.screen .W99 {
	width:89.99%;
}
.screen .W91 {
	width:90.99%;
}
.screen .W92 {
	width:91.99%;
}
.screen .W93 {
	width:92.99%;
}
.screen .W94 {
	width:93.99%;
}
.screen .W95 {
	width:94.99%;
}
.screen .W96 {
	width:95.99%;
}
.screen .W97 {
	width:96.99%;
}
.screen .W98 {
	width:97.99%;
}
.screen .W99 {
	width:98.99%;
}
.screen .W100 {
	width:100%;
}
/* 清除浮动 */
.screen .clearF {
	clear:both;
	_height:100%;
}
.screen .clearL {
	clear:left;
}
.screen .clearR {
	clear:right;
}
.screen .floatR {
	float:right;
	display:inline;
}
.screen .floatL {
	float:left;
	display:inline;
}
.screen .tl {
	text-align:left;
}
.screen .tc {
	text-align:center;
}
.screen .tr {
	text-align:right;
}
.screen .hide {
	display:none;
}
.screen .div {
	display:block;
}
/* CSS Document */

.screen .pa a {
	white-space:nowrap;
}
.screen .dl dt {
	font-weight:bold;
	display:block;
}
.screen .dl dd {
	display:block;
}
.screen .img {
	text-align:center;
	display:block;
}
.screen .img img {
	display:block;
}
.screen .img:hover {
	text-decoration:none;
}
/* 圆角 */
.screen .radius_top {
	-moz-border-radius-topleft: 3px;
	-webkit-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-radius-topright: 3px;
}
.screen .radius_bottom {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-radius-bottomright: 3px;
}
.screen .radius {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
/* ========== 扩展 ==========  */
.screen .a_tip {
	position:relative;
	z-index:1;
	border-bottom-width:1px;
	border-bottom-style:dotted;
	border-bottom-color:#666666;
	text-decoration:none;
}
.screen .a_tip:hover {
	z-index:2;
	background:none;
}
.screen .a_tip span {
	display:none;
}
.screen .a_tip:hover span {
	display:block;
	position:absolute;
	width:250px;
	border:1px solid #000;
	background-color:#FFFFEC;
	padding:3px 5px;
	color:#000000;
	text-decoration:none;
	font-weight:normal;
	left: 0px;
}
.screen .helptip {
	cursor:help;
}
/* 广告展示 */
.screen .box_ad {
	overflow:auto;
	text-align:center;
}
/* 醒目公告*/
.screen .box_notice {
	border:1px solid #fed1a4;
	background-color:#FFF8EE;
	margin:5px;
	padding:5px;
}
/* 提示信息 */
.screen .box_message {
	border:1px solid #8fafd3;
	background-color:#F0F5FB;
	margin:5px;
	padding:5px;
}
/* 功能说明 */
.screen .box_function {
	border:1px solid #D3D39A;
	background-color:#FEFFEE;
	margin:5px;
	padding:5px;
}
/* 表单提示 */
.screen .input_help {
	border:1px solid #EAEAEA;
	background-color:#F2F2F2;
	padding:1px;
}
.screen .input_clue {
	border:1px solid #77C9FF;
	background-color:#D9F0FF;
	padding:1px;
}
.screen .input_check {
	border:1px solid #99CC00;
	background-color:#F1FFDD;
	padding:1px;
}
.screen .input_error {
	border:1px solid #FF6262;
	background-color:#FFE6E6;
	padding:1px;
}
/* ========== 表单元素 ==========  */
/* 按钮 */
.screen .button {
}
/* 文本字段 */
.screen .textfield {
}
/* 文本区域 */
.screen .textarea {
}
/* 复选框 */
.screen .checkbox {
}
/* 复选框组 */
.screen .CheckboxGroup {
}
/* 单选按钮 */
.screen .radio {
}
/* 单选按钮组 */
.screen .RadioGroup {
}
/* 列表/菜单 */
.screen .selectList {
}
/* 跳转菜单 */
.screen .select {
}
/* 图像域 */
.screen .imageField {
}
/* 文件域 */
.screen .fileField {
}
/* ========== 分页 ==========  */
.screen .pages {
	text-align:center;
	font-size:small;
}
.screen .pages a {
	background-color:#F3F3F5;
	display:inline-block;
	padding:2px 6px;
}
.screen .pages a:hover {
	border:1px solid #666;
	padding:1px 5px;
	text-decoration:none;
}
.screen .pages strong {
	font-weight:bold;
	background-color:#F3F3F5;
	display:inline-block;
	padding:2px 6px;
	color:#1176BB;
}
.screen .pages .current {
	background-color:#333;
	display:inline-block;
	padding:2px 6px;
	color:#FFFFFF;
}
/* ========== 面包屑导航 ==========  */
.screen .crumbNav {
	border: 1px solid #EAEAEA;
	padding:5px;
}
.screen .crumbNav ul {
	display:inline;
}
.screen .crumbNav li {
	display:inline;
}
/* ========== 背景 ==========  */
.screen .bg0, .screen .bg {
	background-color:#FFF;
}
.screen .bg1 {
	background-color:#FAFAFA;
}
.screen .bg2 {
	background-color:#F6F6F6;
}
.screen .bg3 {
	background-color:#EAEAEA;
}
/* ========== 边框 ==========  */
.screen .border {
	border:1px solid #EAEAEA;
}
.screen .border_top {
	border-top:1px solid #EAEAEA;
}
.screen .border_bottom {
	border-bottom:1px solid #EAEAEA;
}
.screen .border_left {
	border-left:1px solid #EAEAEA;
}
.screen .border_right {
	border-right:1px solid #EAEAEA;
}
.screen .border_dotted {
	border:1px dotted #EAEAEA;
}
.screen .border_top_dotted {
	border-top: 1px dotted #EAEAEA;
}
.screen .border_bottom_dotted {
	border-bottom:1px dotted #EAEAEA;
}
.screen .border_left_dotted {
	border-left:1px dotted #EAEAEA;
}
.screen .border_right_dotted {
	border-right:1px dotted #EAEAEA;
}
.screen .border_dashed {
	border:1px dashed #EAEAEA;
}
.screen .border_top_dashed {
	border-top: 1px dashed #EAEAEA;
}
.screen .border_bottom_dashed {
	border-bottom:1px dashed #EAEAEA;
}
.screen .border_left_dashed {
	border-left:1px dashed #EAEAEA;
}
.screen .border_right_dashed {
	border-right:1px dashed #EAEAEA;
}
/* 表格 */
.screen .table table {
	border-right-width:1px;
	border-bottom-width:1px;
	border-right-style:solid;
	border-bottom-style:solid;
	border-right-color:#EAEAEA;
	border-bottom-color:#EAEAEA;
}
.screen .table table caption {
	padding:5px;
	background-color:#F6F6F6;
}
.screen .table table th {
	border-top-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-left-style:solid;
	border-top-color:#EAEAEA;
	border-left-color:#EAEAEA;
	background-color:#FAFAFA;
	vertical-align:top;
	padding:5px;
	font-weight: normal;
	color: #202020;
	white-space:nowrap;
}
.screen .table table td {
	border-top-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-left-style:solid;
	border-top-color:#EAEAEA;
	border-left-color:#EAEAEA;
	vertical-align:top;
	padding:5px;
}
/* 示例样式 */
/* ------------------------------------------------------------------ */
.screen .title, .screen .titles, .screen .content, .screen .contents {
	_height:100%;
}
.screen .blocks {
	border: 1px solid #EAEAEA;
	background-color: #FFF;
}
.screen .blocks .titles {
	border: 1px solid #EAEAEA;
}
.screen .blocks .titles h1 {
	padding:5px;
}
.screen .blocks .titles div, .screen .blocks .titles span {
	padding:5px;
}
.screen .blocks .contents {
	border: 1px solid #EAEAEA;
}
/* ------------------------------------------------------------------ */
.screen .block {
	border: 1px solid #EAEAEA;	
}
.screen .block .title {
	border: 1px solid #EAEAEA;
}
.screen .block .title h2 {
	float:left;
	display:inline;
	padding:5px;
}
.screen .block .title span {
	float:right;
	display:inline;
	padding:5px;
}
.screen .block .title ul li {
	float:left;
	border: 1px solid #FFF;
}
.screen .block .title ul li a {
	color: #912424;
	text-decoration: none;
	white-space:nowrap;
	display:inline-block;
	float:left;
	padding:5px;
}
.screen .block .title ul .current, .screen .block .title ul li:hover {
	border: 1px solid #EAEAEA;
	font-weight: bold;
}
.screen .block .content {
	border: 1px solid #EAEAEA;
}
/* ========== 全局页眉区／全局页脚区 ==========  */
.screen #globalHeader, .screen #globalFooter {
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #EAEAEA;
	padding:5px;
}
.screen #globalHeader_link, .screen #globalHeader_fav, .screen #globalHeader_logo, .screen #globalHeader_login, .screen #globalHeader_top, .screen #globalHeader_topics, .screen #globalHeader_search, .screen #globalHeader_nav, .screen #globalFooter_nav, .screen #globalFooter_copyright {
	border: 1px solid #EAEAEA;
	/*padding:5px;*/
}
/* ========== 页眉区／页脚区 ==========  */
/* 页眉 */
.screen #header, .screen #footer {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #EAEAEA;
	padding:5px;
}
.screen #header_nav, .screen #header_search, .screen #header_crumbNav, .screen #footer_nav, .screen #footer_copyright {
	border: 1px solid #EAEAEA;
	padding:5px;
}
/* ========== 主页区 ========== */
.screen .main {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #EAEAEA;
}
/* ========== 列表页 ========== */
.screen #pageList_time, .screen #pageList_area, .screen #pageList_industry, .screen #pageList_market_type, .screen #pageList_list, .screen #pageList_page, .screen #PageNav, .screen #PageFooter {
	border:1px solid #EAEAEA;
	padding:5px;
}
/* ========== 内容页 ========== */
.screen #pageContent_crumbNav_area, .screen #pageContent_crumbNav_industry, .screen #pageContent {
	border:1px solid #EAEAEA;
	padding:5px;
}